* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
    margin-left: 15px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 28, 28);
    color: white;
    align-items: center;
    padding: 5px 508px 5px 0px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    gap: 150px;
    justify-content: center;
    flex-wrap: wrap;
   
}

.content img {
    width: 400px;
}


footer {
    text-align: center;
    padding: 30px 0px 10px 0px;
}

.about-us {
    font-size: 20px;
    width: 1000px;
    margin-left: 250px;
}

.content p {
    text-align: center;
    font-size: 20px;
}


.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.products img {
    width: 400px;
    margin-top: 100px;
}

.products p {
    text-align: center;
    font-size: 20px;
}